body {
    background: #dedede;
}

.flex-container {
    display: flex; /* inline-flex */

    flex-direction: row; /* row | row-reverse | column | column-reverse */

    flex-wrap: wrap ; /* nowrap | wrap | wrap-reverse */

    justify-content: space-between; /* flex-start | flex-end | center | space-around | space-around */

    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}

.flex-element {
    color: #ffffff;
    padding: 15px;
    background: firebrick;
    border-radius: 3px;
    margin: 5px;
}

/*.flex-element:first-child {*/
    /*margin-right: auto;*/
/*}*/
/*.flex-element:last-child {*/
    /*margin-left: auto;*/
/*}*/
/*.flex-element:nth-child(4) {*/
    /*margin: auto;*/
/*}*/

.element-1 {
    order: 1;
}
.element-8 {
    order: -1;
}
