.flex-container {
    display: flex; /* inline-flex */

    flex-direction: row; /* row | row-reverse | column | column-reverse */

    flex-wrap: wrap ; /* nowrap | wrap | wrap-reverse */

    justify-content: flex-start; /* flex-start | flex-end | center | space-around | space-around */

    height: 400px;
    align-items: center; /* def:stretch | center | flex-start | flex-end */
    align-content: space-around; /* space-around | space-between | center | flex-end | flex-start */
}

.flex-element {
    flex: 1 100px;

}
.element-1 {
    /*align-self: flex-start;*/
}
.element-2 {
}
.element-3 {
}
.element-4 {
}
.element-5 {
    /*align-self: flex-end;*/
}